<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-back-button defaulthref="/tabs/episodes"></ion-back-button>
    </ion-buttons>
    <ion-title>Characters</ion-title>
  </ion-toolbar>
</ion-header>
<ion-content>
  <ion-list>
       <ion-item button detail lines="inset" *ngFor="let character of characters" (click)="openDetails(character)">
        <ion-thumbnail slot="start">
          <img src="{{character.img}}">
        </ion-thumbnail>
        <ion-label>{{ character.name }}</ion-label>      
      </ion-item>
  </ion-list>
  <ion-infinite-scroll (ionInfinite)="doInfinite($event)">
    <ion-infinite-scroll-content loadingSpinner="bubbles" loadingText="Loading more data...">
    </ion-infinite-scroll-content>
  </ion-infinite-scroll>
</ion-content>